<div class="row">
  <div class="col-md-12">
    <h3>Permis de travail</h3>
    <metro-tiles tiles="permisTiles"/>
  </div>

</div>



<div class="row">
  <div class="col-md-12">
    <h3>Composantes</h3>
    <!-- <h4>{{$root.me.get_title()}}</h4> -->
    <ul>
      <li>
        <a href="http://intranet/_layouts/15/start.aspx#/Lists/Metiers%20ParaChem/AllItems.aspx" target="_blank">Gestion des métiers ParaChem</a>
      </li>
      <li>
        <a href="http://intranet/_layouts/15/start.aspx#/Lists/Entrepreneurs/AllItems.aspx" target="_blank">Gestion des Entrepreneurs</a>
      </li>
      <li>
        <a href="http://intranet/_layouts/15/start.aspx#/Lists/Liste%20Maitres%20Permis/AllItems.aspx" target="_blank">Gestion des Maîtres</a>
      </li>
      <li>
        <a href="http://parasrv12.parachem.ca:8005" target="_blank">Gestion des Fiches de cadenassage</a>
      </li>
    </ul>

  </div>

</div>


<!-- <div class="row">
  <div class="col-md-12 metro">
  	<a href="#/permis/blank" >
  			<div class="tile bg-black">
  			  <div class="tile-content icon">
  			  	<i class="fa fa-pencil"></i>
  			  </div>
  			  <div class="tile-status">
  			    <span class="name ng-binding">Permis sans DT</span>
  			  </div>
  			</div>
  		</a>
  </div>
</div>
 -->
