<div class="row">
  <div class="col-md-12">
    <h3>Permis de travail</h3>
    <metro-tiles tiles="permisTiles"/>
  </div>

</div>



<div class="row">
  <div class="col-md-12">
    <h3>Composantes</h3>
    <!-- <h4>{{$root.me.get_title()}}</h4> -->
    <ul>
      <li>
        <a ng-click="openMetiers()">Gestion des métiers ParaChem</a>
      </li>
      <li>
        <a ng-click="openEntrepreneurs()">Gestion des Entrepreneurs</a>
      </li>
      <li>
        <a ng-click="openMaitres()">Gestion des Maîtres</a>
      </li>
      <li>
        <a ng-click="openFiches()">Gestion des Fiches de cadenassage</a>
      </li>
    </ul>

  </div>

</div>


<div style="overflow: hidden;">

  <iframe 
    scrolling="no" 
    src="http://paradevsrv02/reportserver?/permistravailrealprint&rs:Command=Render&rc:Toolbar=true"
    style="border: 0px none; margin-left: 0px; height: 25px; margin-top: 0px; width: 25px;">
  </iframe>

</div>



<!-- <div class="row">
  <div class="col-md-12 metro">
  	<a href="#/permis/blank" >
  			<div class="tile bg-black">
  			  <div class="tile-content icon">
  			  	<i class="fa fa-pencil"></i>
  			  </div>
  			  <div class="tile-status">
  			    <span class="name ng-binding">Permis sans DT</span>
  			  </div>
  			</div>
  		</a>
  </div>
</div>
 -->

